body{
    margin: 0;
    font-family: monospace;
}

header{
    color: beige;
    background-color: cadetblue;
    padding: 24px;
}

footer{
    background-color: cornflowerblue;
    color: cornsilk;
    padding: 38px;
}

.container{
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 60%;
    border:  2px solid teal;
    border-radius: 16px;
    padding: 16px;
}

.div-produtos{
    border: 2px solid teal;
    border-radius: 16px;
    padding: 16px;
    margin-top: 8px;
}

.div-resultado{
    border: 2px solid teal;
    border-radius: 16px;
    padding: 16px;
    margin-top: 8px;
}