body{
    margin: 0;
    font-family: Verdana;
}

.container{
    margin-top: 30px;
    margin: auto;
    width: 50%;
    border: 2px solid #eb3506;
    padding: 30px;
    background-color:  #b4f3fb;
}

.div-img{
    margin: auto;
    width: 53%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
   border: 2px solid #eb3506;
    background-color:  #b4f3fb;
}

